#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.background {
  width: 100vw;
  height: 100vh;
  background: #bbb url('./images/00011.jpeg') no-repeat center/cover;
}

.box {
  width: 100%;
  height: 100%;
  
  display: flex;
  align-items: center;  
  justify-content: end;
}
/* EDITAR A UN LADO*/
.box__calendar {
  display: block;
  width: 70%;
  height: 100%;
  background-color: green;
}

.calendar__notes {
  width: 100%;
  height: auto;
  gap: 16px; 
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr)); /* Controla las columnas */
  grid-template-rows: repeat(auto-fill, 300px); /* Opcional: fija un tamaño para las filas */
  
  background-color: rgb(238, 255, 0);
}

.calendar__notes .note {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  position: relative;
  height: 300px;

  background: #E5E2D1 url('./images/00004.jpeg') no-repeat center/cover;
  /* background: #E5E2D1 url('./images/00011.jpeg') no-repeat center/cover; */
  /* background:#E5E2D1; */
  /* background: #FE5CFF; */
  /* object-fit: contain; */
  /* mix-blend-mode: color-burn; */   

  /* border-radius: 10px 0px 0px 10px; */
  border-radius: .5rem;
  filter: saturate(120%);
  padding: 16px;
}
.calendar__notes .note div {
  text-align: start;  
}

/* .calendar__notes .note::before,
.calendar__notes .note::after {
  position: absolute;
  content: '';
  width: 305px;
  height: 305px;
  border-radius: 5px;
  inset: 0;
  left: 5px;
  z-index: -1;
}

.calendar__notes .note::before {
  top: 0px;
  border-right: 10px solid #ffffff;
}

.calendar__notes .note::after {
  top: 3px;
  border-bottom: 10px solid #ffffff;
  border-right: 10px solid #ffffff;
} */

.calendar__notes .note .note__date, 
.calendar__notes .note .note__title,
.calendar__notes .note .note__datetime {
  font-family: 'Cormorant', serif;
  font-size: 24px;
  font-weight: bold;
}

.calendar__notes .note .note__datetime {
  display: flex;
  align-items: center;
  gap: 5px;
}

.calendar__notes .note .note__title {  
  font-family: 'Forum', serif;
  font-size: 28px;
}

.calendar__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.calendar__title__text {
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  background-image: linear-gradient(-70deg, rgba(0, 0, 0, 0.5)  63%, transparent 50%);
  padding: 0 20px;  
  margin-bottom: 20px;
}

.calendar__title .calendar__title__text h2 {
  padding: 0;
  margin: 0;  
}

.calendar__title .calendar__title__text h2 {
  font-family: Haettenschweiler, serif;
  font-size: 50px;
  text-transform: uppercase;
}

.calendar__title .calendar__title__text h2:first-child {
  color: #392200;
  margin-right: 50px;
}

.calendar__title .calendar__title__text h2:last-child {
  color: #ffffff;
}

.note__date,
.note__title,
.note__datetime {
  position: relative;
  margin: 0px 20px;
  text-align: center;
  color: #000;
}

/* .note__title span,
.note__date span,
.note__datetime svg {
  margin-left: 1.25rem;
} */

.note__date::before,
.note__title::before,
.note__datetime::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;  
  z-index: -1;   
}

/* [ADD][BOX] FIRST-CHILD  */
/* .calendar__notes .note:first-child {
  width: 305px;
  height: 305px;
  background: #ff5cff00;
  border: 5px solid #ffffff;
  border-radius: 10px;
} */

/* .calendar__notes .note:first-child::before,
.calendar__notes .note:first-child::after {
  display: none;
} */

/* .calendar__notes .note.typeShort:first-child::before,
.calendar__notes .note.typeShort:first-child::after {
  display: block;
} */

/* .calendar__notes .note:first-child .note__date,
.calendar__notes .note:first-child .note__title,
.calendar__notes .note:first-child .note__datetime {
  display: none;
} */

/* .calendar__notes .note:first-child:before,
.calendar__notes .note:first-child:after {
  display: block;
  width: 100%;
  height: 100%;
  inset: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0.2);
} */

/* TIPO LARGO */
.calendar__notes .note.typeLarge {
  width: 405px;
  height: 655px;
}

.calendar__notes .note.typeLarge::before,
.calendar__notes .note.typeLarge::after {
  width: 400px;
  height: 650px;
}
.calendar__notes .note.typeLarge:first-child:before,
.calendar__notes .note.typeLarge:first-child:after {
  width: 100%;
  height: 100%;
}

/* TIPO CORTO */
.calendar__notes .note.typeShort {
  width: 500px;
  height: 160px;
  border-radius: 10px;
  position: relative;
}

.calendar__notes .note.typeShort::before,
.calendar__notes .note.typeShort::after {
  width: 100%;
  height: 100%;
  inset: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.calendar__notes .note.typeShort .note__date, 
.calendar__notes .note.typeShort .note__title,
.calendar__notes .note.typeShort .note__datetime {
  font-size: 30px;
}

.calendar__notes .note.typeShort .note__title {  
  font-size: 25px;
}

.note__date.typeShort h3,
.note__title.typeShort h2,
.note__datetime.typeShort h3 {
  color: #ffffff;
}

.note__date.typeShort::before,
.note__title.typeShort::before,
.note__datetime.typeShort::before {
  background-color: transparent;
}
/* 2XL */
@media screen and (max-width: 1536px) {
	
  /* TIPO BOX */
  .box__calendar {
    width: auto;
  }

}
/* XL */
@media screen and (max-width: 1280px) {

  .calendar__notes {
    background-color: rgb(255, 38, 0);
  }
}
/* LG */
@media screen and (max-width: 1024px) {
    
  .calendar__notes {
    grid-template-columns: repeat(2, minmax(250px, 1fr)); /* Controla las columnas */    
    background-color: rgb(0, 255, 34);
  }
}
/* MD */
@media screen and (max-width: 768px) {

  /* TIPO CORTO */
  /* .calendar__notes .note.typeShort {
    width: 300px;
  } */
  
  /* TIPO LARGO */
  /* .calendar__notes .note.typeLarge {
    width: 355px;
    height: 605px;
  } */

  /* .calendar__notes .note.typeLarge::before,
  .calendar__notes .note.typeLarge::after {
    width: 350px;
    height: 600px;
  } */
  .calendar__notes {
    grid-template-columns: repeat(1, minmax(250px, 1fr)); /* Controla las columnas */
    
    background-color: rgb(255, 0, 200);
  }
}
/* SM */
@media screen and (max-width: 640px) {
}
