#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.background {
  width: 100vw;
  height: 100vh;
  background: #bbb url('./images/00011.jpeg') no-repeat center/cover;
  
  /* overflow: auto; */
}

.box {
  min-width: 100vw;
  min-height: 100vh;
  
  display: flex;
  align-items: center;  
  justify-content: end;
}

.box__calendar {
  display: block;
  width: auto;
  max-width: 1285px;
  
  padding: 100px 40px;
}

.calendar__notes {
  width: 100%; 
  gap: 15px 10px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.calendar__notes .note {
  width: 310px;
  height: 310px;
  color: #000;
  background-color:#E5E2D1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  border-radius: 10px;
  
}

.calendar__notes .note .note__date h3, 
.calendar__notes .note .note__title h2,
.calendar__notes .note .note__datetime h3 {
  font-family: 'Cormorant', serif;
  font-size: 35px;
  padding-left: 20px;
  margin: 0;
  font-weight: bold;
}

.calendar__notes .note .note__title h2 {  
  font-family: 'Forum', serif;
  font-size: 30px;
  padding-left: 0px;
  font-weight: 300;
  text-align: center;
}

.calendar__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.calendar__title__text {
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  background-image: linear-gradient(-70deg, rgba(0, 0, 0, 0.5)  70%, transparent 50%);
  padding: 0 20px;  
  margin-bottom: 20px;
}

.calendar__title .calendar__title__text h2 {
  padding: 0;
  margin: 0;  
}

.calendar__title .calendar__title__text h2 {
  font-family: Haettenschweiler, serif;
  font-size: 50px;
  text-transform: uppercase;
}

.calendar__title .calendar__title__text h2:first-child {
  color: #392200;
  margin-right: 50px;
}

.calendar__title .calendar__title__text h2:last-child {
  color: #ffffff;
}

.calendar__title,
.calendar__notes .note {
  border-radius: 10px;
}



@media screen and (max-width: 900px) {
	
}

@media screen and (max-width: 700px) {
	
}

@media screen and (max-width: 600px) {

}